/* SLIDE PANEL*/
#slidePanel{width:961px; height:411px; position:relative; margin:0 auto; padding:0;
    background-image: url(/images/news/news_slide.jpg);}

#slidePanel .logo {
     position:relative; float:left;
     left:60px;
     top:230px;
}
#slidePanel .logo li a span{
display:none;
}
#slidePanel .logo li a{
  /* background: url(/images/news/logo.jpg) no-repeat; */
  width: 309px;
  height: 116px;
  display: block;
}

/* BODY PANEL*/
#bodyPanel{width:955px; height:1250px; position:relative; margin:0 auto; padding:0;
    background:#fff;
    border:0px;
    border-left:3px solid #7d8f91;
    border-right:3px solid #7d8f91;

 }



#l,
#l {
	width: 620px;
	padding-right: 20px;
	float: left;
	margin-right: 1Z0px;
	}

#r {
	width: 300px;
	float: right;
	margin-right:15px;
	}


#news_content_l{

   width:910px; height:1200px; position:relative; margin-left:20px; padding:0; background:#fff; border:2px solid #ccc;
    color:#000;
    text-align:justify; font-size:16px;
    margin-top:15px;

    /* line-height:110%; */

}

#news_content_l #content{
    margin:25px;
    color:#000;
    text-align:justify; font-size:16px;
    font-style: italic;
    /* line-height:110%; */

}

#Gallery_NA{
     position:relative; float:right;
     right:20px;
}

#Gallery_NA a {
    color:#000;
    font-weight:bold;
}
.m_news{
   margin-top:25px;
   position:relative; float:left;
    left:80px;
    text-align:justify;
    width:700px;
    font-weight:bold;
    background:silver;
    border:6px solid silver;
}
.m_news_image{
position:relative;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:700px;

}

.m_news_image IMG {

}

