/* SLIDE PANEL*/
#slidePanel{width:961px; height:348px; position:relative; margin:0 auto; padding:0; background-image: url(/images/treatments/treatments_slide.jpg);}
#slidePanel .logo {
     position:relative;float:left;
     left:560px;
     top:215px;
}
#slidePanel .logo li a span{
display:none;
}
#slidePanel .logo li a{
 /* background: url(/images/treatments/logo.png) no-repeat; */
  width: 320px;
  height: 124px;
  display: block;
}

/* BODY PANEL*/
#bodyPanel{width:956px; height:850px; position:relative; margin:0 auto; padding:0; background:#efe0a9; border:3px solid #70694d; }




#l,
#l {
	width: 620px;
	padding-right: 20px;
	float: left;
	margin-right: 1Z0px;
	}

#r {
	width: 300px;
	float: right;
	margin-right:15px;
	}

#treatments_content_l{
   width:610px; height:800px; top:20px; position:relative; margin-left:20px; padding:0; background:#fff; border:2px solid #888888;
    color:#605327;
    text-align:justify; font-size:16px;
    /* line-height:110%; */

}

#treatments_content_l #content{
    margin:25px;
    color:#605327;
    text-align:justify; font-size:16px;
    /* line-height:110%; */

}





#quick_contact {
    width:258px; height:306px; position:relative; float:left;
    background: url(/images/treatments/contactbox_bg.png) no-repeat;
    top:20px;
    left:25px;

}

#quick_contact #title{
    width:241px; height:42px; position:relative;
    background: url(/images/treatments/contactbox_title.png) no-repeat;
    top:10px;
    left:6px;
}


#quick_contact #form{
    width:240px; height:240px; position:relative;
    top:15px;
    left:10px;

}
#quick_contact #form input[type=text]{
    width:230px; height:20px;font-size:18px;
}
#quick_contact #form textarea{
    width:230px; height:150px;font-size:18px;
}

#quick_contact #form input[type=submit]{
    position:relative; left:160px;
}

