<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="author" content="haridraaayurveda" />
<meta name="keywords" content="haridraa ayurveda center for treatment and research india kerala hospital " />
<meta name="description" content="haridraa ayurveda center for treatment and research" />
<title><?= $title ?> </title>
<link href="css/default.css" rel="stylesheet" type="text/css">
<link href="css/contactus.css" rel="stylesheet" type="text/css">
<?= $js ?><?= $css ?>
<link rel="shortcut icon" href="images/favicon.ico">
</head><body>

<div id="contactPanel">
  <ul>
    <li> <a href="contactus.php" title="Contact Us"> <span>Contact Us</span> </a> </li>
  </ul>
</div>


<div id="menuPanel">
<?= $haridraa_menu ?>

</div>


<div id="slidePanel">
  <div class="phone">
    <div class="ico"></div> <div class="number"> <?php echo $contactus_phone; ?> </div>
  </div>
  <div class="email">
    <div class="address"> <a href="mailto:mail@haridraaayurveda.com"> <?php echo $contactus_email; ?> </a> </div>
  </div>
  <div class="info">
    <ul class="logo">
      <li> <a href="index.php" title="Haridraa Ayurveda"> <span>Haridraa Ayurveda</span> </a> </li>
    </ul>
    <div class="contact_ico"></div>

    <span><?php echo $contactus_address; ?>  </span>
  </div>



</div>

<div id="bodyPanel">
<?= $content.'' . $this->plugin_output  ?>

</div>

<div id="footerPanel">
<?= $footer ?>
</div>


</body></html>

