<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>


<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="author" content="haridraaayurveda" />
<meta name="keywords" content="haridraa ayurveda center for treatment and research india kerala hospital " />
<meta name="description" content="haridraa ayurveda center for treatment and research" />
<title><?= $title ?> </title>
<link href="css/home.css" rel="stylesheet" type="text/css">
<link href="css/slide.css" rel="stylesheet" type="text/css">
<script src="js/jquery.min.js"></script>
<script src="js/jquery.rs.slideshow.js"></script>
<script src="js/bootstrap.js"></script>
<?= $js ?><?= $css ?>
<link rel="shortcut icon" href="images/favicon.ico">
</head><body>

<div id="contactPanel">
  <ul>
    <li> <a href="contactus.php" title="Contact Us"> <span>Contact Us</span> </a> </li>
  </ul>
</div>


<div id="menuPanel">
<?= $haridraa_menu ?>

</div>

<div id="slideshow" class="slideshow">


				<div class="slide-container">
					<img src="images/home/slide/home_mainimage.jpg" alt="The first image in a slideshow demo." title="This is the first slide" />

				</div>
				<ol class="slides">
					<li>
						<a href="images/home/slide/slide1.jpg"
							>This is the first slide</a>
					</li>
					<li>
						<a href="images/home/slide/slide2.jpg"
							>This is the second slide</a>
					</li>
					<li>
						<a href="images/home/slide/slide3.jpg"
							>This is the third slide</a>
					</li>

					<li>
						<a href="images/home/slide/slide4.jpg"
							>This is the fourth slide</a>
					</li>
				</ol>


  <ul class="logo">
    <li> <a href="index.php" title="Haridraa Ayurveda"> <span>Haridraa Ayurveda</span> </a> </li>
  </ul>






</div>


<div id="bodyPanel">
<?= $content.'' . $this->plugin_output  ?>
</div>

<div id="footerPanel">
<?= $footer ?>
</div>


</body></html>

